<table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
    <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            No.
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Provinsi
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Kota
        </th>
    </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        <% for(let i = 0; i < location.length; i++) { %>
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                    <%= i + 1 %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <%= location[i].province %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <%= location[i].city %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <form action="/delete/<%= location[i]._id %>?_method=DELETE" method="POST" class="flex gap-1">
                        <button class="text-sm bg-red-500 hover:bg-red-600 transition text-white p-2 flex gap-1">
                          <i class="bi bi-archive-fill"></i>
                          <p>delete</p>
                        </button>
                    </form>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>